<!DOCTYPE html>
<html>
  <head>

    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />

  </head>

<body>

    <header>

      <div class="container">
        <h1>{{ site.name }}</h1>
        <h2>{{ site.tagline }}</h2>

        <ul class="nav">
          <li><a href="https://twitter.com/DCLegalHackers" target="_blank">@DCLegalHackers</a></li>
          <li><a href="https://github.com/dclegalhackers">GitHub</a></li>
          <li><a href="http://www.meetup.com/DCLegalHackers/events/142945462/">Events</a></li>
          <li><a href="/hacks">Hacks</a></li>
          <li><a href="/resources">Resources</a></li>
        </ul>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
        {% if page.title %}<h1>{{ page.title}}</h1>{% endif %}
        {{ content }}
      </sction>
    </div>
    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s); js.id=id;js.async=true;js.src="https://secure.meetup.com/598491059688185024633/script/api/mu.btns.js?id=6duuntvc6i2420q4pqa20erm31";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","mu-bootjs");</script>

  </body>
</html>
